In [1]:
import os
import json
import pandas as pd
from PIL import Image
from tqdm import tqdm #  진행상황을 피드백으로 제공

In [2]:
!ls

checkpoint_dir		  DataPreprocessing3.ipynb  __pycache__
custom_dataset.ipynb	  DataPreprocessing.ipynb   run.ipynb
custom_dataset.py	  img_check.ipynb	    train.ipynb
data			  img_preprocessing.ipynb   train.py
DataLoader.ipynb	  MNIST
Datapreprocessing2.ipynb  model

In [3]:
cd data

/home/danbibibi/jupyter/data

In [4]:
!ls

1_syllable		     hangeul_1.csv	  printed_data_info.json
2_syllable		     hangeul_2350.csv	  printed_hangeul_2350.csv
hand_hangeul_2350.csv	     hangeul_2350_V2.csv  p_syllable
handwriting_data_info1.json  hangeul_2.csv	  textgenerator

In [5]:
path = '/home/danbibibi/jupyter/data/textgenerator/'
file_list = os.listdir(path)

In [6]:
len(file_list)

65228

In [7]:
file_list[1]

'햄_3.jpg'

In [8]:
file_list[1][0]

'햄'

In [10]:
path = 'textgenerator/'
path_list = []
lable_list = []
for i in tqdm(file_list):
    path_list.append(path+i)
    lable_list.append(i[0])

100%|██████████| 65228/65228 [00:00<00:00, 1607108.18it/s]

In [12]:
len(path_list)

65228

In [20]:
df = pd.DataFrame({'img_path': path_list, 'label': lable_list})

In [21]:
df

                     img_path label
0       textgenerator/캬_8.jpg     캬
1       textgenerator/햄_3.jpg     햄
2       textgenerator/낯_5.jpg     낯
3      textgenerator/철_30.jpg     철
4      textgenerator/퀄_11.jpg     퀄
...                       ...   ...
65223  textgenerator/쯧_39.jpg     쯧
65224  textgenerator/데_24.jpg     데
65225   textgenerator/훗_6.jpg     훗
65226   textgenerator/폅_5.jpg     폅
65227  textgenerator/겄_27.jpg     겄

[65228 rows x 2 columns]

In [23]:
df2 = pd.read_csv('/home/danbibibi/jupyter/data/hangeul_2350.csv')

In [24]:
df2

                       img_path label
0       1_syllable/00180981.png     탈
1       1_syllable/00111687.png     쒜
2       1_syllable/00003308.png     얍
3       1_syllable/00037623.png     꾕
4       1_syllable/00175405.png     겐
...                         ...   ...
264469  p_syllable/00461411.png     콩
264470  p_syllable/00122479.png     탁
264471  p_syllable/00437537.png     손
264472  p_syllable/00195419.png     붑
264473  p_syllable/00242600.png     헌

[264474 rows x 2 columns]

In [25]:
final = pd.concat([df, df2])

In [32]:
final

                       img_path label
0         textgenerator/캬_8.jpg     캬
1         textgenerator/햄_3.jpg     햄
2         textgenerator/낯_5.jpg     낯
3        textgenerator/철_30.jpg     철
4        textgenerator/퀄_11.jpg     퀄
...                         ...   ...
264469  p_syllable/00461411.png     콩
264470  p_syllable/00122479.png     탁
264471  p_syllable/00437537.png     손
264472  p_syllable/00195419.png     붑
264473  p_syllable/00242600.png     헌

[329702 rows x 2 columns]

In [31]:
final.to_csv('hangeul_2350.csv', index=False, encoding='utf-8-sig')